@import "../utils/colors.scss";

button {
    color: white;
    text-transform: uppercase;
    padding: 0.8rem;
    border: 0.1rem solid transparent;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-left: 0.5rem;
        font-size: large;
    }
}

.blue {
    background-color: $blueColor;
    &:hover {
        background-color: #fff;
        border: 0.1rem solid $blueColor;
        color: $blueColor;
    }
}

.pink {
    background-color: $pinkColor;
    &:hover {
        background-color: #fff;
        border: 0.1rem solid $pinkColor;
        color: $pinkColor;
    }
}